@charset "utf-8";

html{
  font-size: 62.5%;
  font-family: 'Kosugi Maru', sans-serif;
}

body{
  font-feature-settings: "palt";
	letter-spacing: 0.02rem;
  font-size: 1.6rem;
  text-align: center;
  background-color: #B5CDD9;
  color: #393939;
}

img{
  max-width:100%;
  height:auto;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
/*----------
*utility area
------------*/
main {
  line-height: 1.2;
}
.block {
  display: block;
}
.fas {
  font-weight: normal;
}

/*----------
*header area
------------*/
.header {
  width:100%;
  position: fixed;
  z-index: 10;
  top:0px;
  left:0px;
  background-color: #503464;
  box-shadow: 0 10px 10px rgba(0,0,0,0.4);
}

.sns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width:960px;
  margin:0 auto;
}
.sns img {
  display: inline-block;
  border-radius: 50%;
}
.icon-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-size: 44px;
  margin: 10px 0;
}

.icon-box:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #BE5378;
}

.fa-tiktok {
  color: #393939;
}
/*----------
*top area
------------*/
.top {
  padding-top: 80px;
  width: 100%;
  background-color: #26344d;
  position: relative;
}
.top img {
  max-height: 920px;
  display: block;
  margin: 0 auto;
}
.label {
  position: absolute;
  z-index: 5;
  width: 100%;
  top:82%;
  left:0px;
  transform: translate3d(0, -50%,0);
  padding:16px 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.line {
  border-top: solid 1px rgba(255,255,255,0.5);
  border-bottom: solid 1px rgba(255,255,255,0.5);
  padding:5px 0;
}
.top h1 {
  color: #e3e3e3;
  font-size: 6.4rem;
}
.subtitle {
  font-size: 3.8rem;
}
/*----------
*content area
------------*/
.content {
  padding: 30px 8px 40px 8px;
  background-color: #C198C4;
}
.item {
  border-radius: 3px 3px 15px 15px;
  margin-bottom: 40px;
  box-shadow: 4px 8px 8px 5px rgba(57,57,57,0.4);
}
.item h2 {
  font-size:4.0rem;
  padding:16px 0;
  margin-bottom: 55px;
  color:#E3E3E3;
  font-weight: bold;
}
.item .fa {
  margin-right: 10px;
}
.item h2 span {
  font-weight: bold;
}
.item p {
  font-size: 2.2rem;
  margin-bottom: 30px;
}
.item-inner {
  width: 90%;
  margin: 0 auto;
}

.schedule {
  background-color: #85C7C9;
  border: solid 5px #3BA9AF;
}
.schedule h2 {
  background-color: #3BA9AF;
}
.googlebtn {
  height: 20px;
  border: solid 1px #3BA9AF;
  vertical-align: middle;
}
.ibox {
  height: 550px;
  margin-bottom: 55px;
}
.ibox iframe {
  width: 100%;
  height: 100%;
}
.profile {
  background-color: #DABBC5;
  border: solid 5px #BE5378;
  color: #503464;
  padding-bottom: 40px;
}
.profile h2 {
  background-color: #BE5378;
}
.item-title {
  font-size: 3.2rem;
  margin-bottom: 30px;
}
.profile ul {
  margin-bottom: 20px;
}
.profile li {
  text-align: left;
  font-size: 2.5rem;
  line-height: 1.6;
}
.miss-id {
  color: #503464;
  text-decoration: underline;
}
/*----------
*career area
------------*/
.career {
  background-color: #E0CF98;
  border: solid 2px #BE5378;
  padding: 10px 8px 0;
}
.career .item-title,.genre {
  color: #393939;
  font-weight: bold;
}
.show {
  color: #393939;
  font-weight: normal;
}
li.etc,a {
  color: #393939;
  text-align: right;
}
/*----------
*footer area
------------*/
.footer {
  background-color: #393939;
  padding: 20px 0;
  color:#e3e3e3;
  font-size: 1.0rem;
  line-height: 1.4;
}
/* ------------PC display--------------------------- */
@media screen and (min-width: 960px) {
  html {
    font-size: 75%;
  }
  .block {
    display: inline;
  }
  .subtitle {
    font-size:4.8rem;
    margin-left:30px;
  }
  .content {
    display:flex;
    padding: 30px 50px 40px 50px;
    background-color: #C198C4;
  }
  .item {
    flex-grow: 1;
    box-shadow: 10px 10px 10px rgba(57,57,57,0.4);
  }
  .item:first-of-type {
    margin-right:40px;
  }
}
/*------------------*/
